<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/admin/style.css" />
    <title>Responsive Dashboard Design #1 | AsmrProg</title>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row mt-2 ml-3 mr-3">
        <!-- Sidebar Section -->
        <div class="col-md-2">
          <aside>
            <div class="toggle">
              <div class="logo">
                <img src="/assets/admin/images/logo.png" />
                <h2>Asmr<span class="danger">Prog</span></h2>
              </div>
              <div class="close" id="close-btn">
                <span class="material-icons-sharp"> close </span>
              </div>
            </div>

            <div class="sidebar">
              <a routerLink="dashboard" >
                <span class="material-icons-sharp"> dashboard </span>
                <h3>Dashboard</h3>
              </a>
              <a routerLink="product" >
                <span class="material-icons-sharp"> mail_outline </span>
                <h3>Products</h3>
              </a>

              <a routerLink="product-detail" >
                <span class="material-icons-sharp"> mail_outline </span>
                <h3>Product Details</h3>
              </a>

              <a routerLink="user">
                <span class="material-icons-sharp"> person_outline </span>
                <h3>Active Account</h3>
              </a>
              <a routerLink="product-discount" >
                <span class="material-icons-sharp"> insights </span>
                <h3>Product Discount</h3>
              </a>
              <a href="#">
                <span class="material-icons-sharp"> inventory </span>
                <h3>Sale List</h3>
              </a>
              <a href="#">
                <span class="material-icons-sharp"> report_gmailerrorred </span>
                <h3>Reports</h3>
              </a>
              <a href="#">
                <span class="material-icons-sharp"> settings </span>
                <h3>Settings</h3>
              </a>
              <a href="#">
                <span class="material-icons-sharp"> add </span>
                <h3>New Login</h3>
              </a>
              <a (click)="logout();">
                <span class="material-icons-sharp"> logout </span>
                <h3>Logout</h3>
              </a>
            </div>
          </aside>
        </div>

        <!-- End of Sidebar Section -->

        <!-- Main Content -->
        <div class="col-md-7">
          <router-outlet></router-outlet>
        </div>
        <!-- End of Main Content -->

        <!-- Right Section -->
        <div class="col-md-3">
          <div class="right-section">
            <div class="nav">
              <button id="menu-btn">
                <span class="material-icons-sharp"> menu </span>
              </button>
              <div class="dark-mode">
                <span class="material-icons-sharp active"> light_mode </span>
                <span class="material-icons-sharp "> dark_mode </span>
              </div>

              <div class="profile">
                <div class="info">
                  <p>Hey, <b>Reza</b></p>
                  <small class="text-muted">Admin</small>
                </div>
                <div class="profile-photo">
                  <img src="/assets/admin/images/profile-1.jpg" />
                </div>
              </div>
            </div>
            <!-- End of Nav -->

            <div class="user-profile">
              <div class="logo">
                <img src="/assets/admin/images/logo.png" />
                <h2>AsmrProg</h2>
                <p>Fullstack Web Developer</p>
              </div>
            </div>

            <div class="reminders">
              <div class="header">
                <h2>Reminders</h2>
                <span class="material-icons-sharp"> notifications_none </span>
              </div>

              <div class="notification">
                <div class="icon">
                  <span class="material-icons-sharp"> volume_up </span>
                </div>
                <div class="content">
                  <div class="info">
                    <h3>Workshop</h3>
                    <small class="text_muted"> 08:00 AM - 12:00 PM </small>
                  </div>
                  <span class="material-icons-sharp"> more_vert </span>
                </div>
              </div>

              <div class="notification deactive">
                <div class="icon">
                  <span class="material-icons-sharp"> edit </span>
                </div>
                <div class="content">
                  <div class="info">
                    <h3>Workshop</h3>
                    <small class="text_muted"> 08:00 AM - 12:00 PM </small>
                  </div>
                  <span class="material-icons-sharp"> more_vert </span>
                </div>
              </div>

              <div class="notification add-reminder">
                <div>
                  <span class="material-icons-sharp"> add </span>
                  <h3>Add Reminder</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
