<div class="row" style="margin-top:30px;">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-11">
                <h1>Product management</h1>
            </div>
            <div class="col-md-1">
                <div (click)="initNewProduct();" class="btn-create-new">
                    <span style="margin:auto;cursor: pointer;"><i class="fa fa-plus" style="font-size: 24px;color:#EDEFFD;"></i></span>
                </div>
            </div>
        </div>

        <div *ngIf="loaderService.isLoading | async">
            <app-progress></app-progress>
        </div>

        <table class="table table-dark table-hover mt-4">
            <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Image</th>
                  <th scope="col">Best seller</th>
                  <th scope="col">Homeflag</th>
                  <th scope="col">Active</th>
                  <th scope="col">Category product</th>
                </tr>
              </thead>
              <tbody id="product-table-body">
                <tr class="clickable-row" *ngFor="let product of products; let i = index">
                    <th scope="row" class="clickable-row-wrapper">
                        <span class="side-context-option" style="cursor:pointer;" (click)="showContextMenu($event)">
                            <i class="fa fa-bars"></i>
                        <div class="side-context-option-menu">
                            <ul>
                                <li>View detail</li>
                                <li>Edit product</li>
                                <li (click)="deleteProduct(product.id)">Remove</li>
                            </ul>
                        </div>
                        </span>

                    </th>
                    <td>{{product.name}}</td>
                    <td style="width: 120px; height: 100px;"><img class="img_product" src="{{product.image}}" alt="{{product.name}}"></td>
                    <td>
                        <span *ngIf="product.bestSeller" class="true-check"><i class="fa fa-check"></i></span>
                        <span *ngIf="!product.bestSeller" class="false-check"><i class="fa fa-close"></i></span>
                    </td>
                    <td>
                        <span *ngIf="product.homeFlag" class="true-check"><i class="fa fa-check"></i></span>
                        <span *ngIf="!product.homeFlag" class="false-check"><i class="fa fa-close"></i></span>
                    </td>
                    <td>
                        <span *ngIf="product.active" class="true-check"><i class="fa fa-check"></i></span>
                        <span *ngIf="!product.active" class="false-check"><i class="fa fa-close"></i></span>
                    </td>
                    <td>{{product.cat.name}}</td>
                </tr>
              </tbody>
        </table>
    </div>
</div>

<app-edit-product [product]="productToEdit" (productsUpdated)="reloadProductList($event)"></app-edit-product>

<style>
    .img_product:hover {
        transform: scaleX(-1);
    }
</style>
